<p style="color: green"><%= notice %></p>

<h3>Artikel:</h3>
<div class="bg-white p-2 mb-4 border">
  <%= render @article %>

  <ul>
    <li>@article.draft? :     <b><%= @article.draft? %></b></li>
    <li>@article.published? : <b><%= @article.published? %></b></li>
    <li>@article.archived? :  <b><%= @article.archived? %></b></li>
    <li>@article.deleted? :   <b><%= @article.deleted? %></b></li>
  </ul>
</div>
<div>
  <%= link_to "Edit this article", edit_article_path(@article) %> |
  <%= link_to "Back to articles", articles_path %>

  <%= button_to "Destroy this article", @article, method: :delete %>
</div>
