<article>
  <h1 class="bg-green-2
  00">My personal little rails 8 demo</h1>

  <section class="ml-4">
    <h2>Rails Helper</h2>
    <ul class="ml-4">
      <li><%= link_to "cycle", cycle_path %></li>
      <li><%= link_to "truncate", truncate_path %></li>
      <li><%= link_to "striptags", striptags_path %></li>
    </ul>
  </section>

  <section class="ml-4">
    <h2>Rails Features</h2>
    <ul class="ml-4">
      <li><%= link_to "Upload images", image_examples_path %><%= render 'partials/locked' %>
      </li>
      <li><%= link_to "Live Update (Pseudo Chat)", pseudo_chats_path %> <%= render 'partials/locked' %>
    </ul>
  </section>

  <section class="ml-4">
    <h2>Rails Logging and Debugging</h2>
    <ul class="ml-4">
      <li><%= link_to "Logging", log_test_index_path %></li>
    </ul>
  </section>

  <section class="ml-4">
    <h2>Testing</h2>
    <ul class="ml-4">
      <li><%= link_to "Testing", testing_index_path %></li>
    </ul>
  </section>

  <section class="ml-4">
    <h2>HotWire Stimulus</h2>
    <ul class="ml-4">
      <li><%= link_to "Stimulus Greeter ", stimulus_greeter_path %></li>
    </ul>
  </section>

  <section class="ml-4">
    <h2>HotWire Turbo Frames</h2>
    <ul class="ml-4">
      <li><%= link_to "Turbo Frame clock ", turboframeclocks_index_path %></li>
    </ul>
    <ul class="ml-4">
      <li><%= link_to "Turbo Frame other target", turboframetarget_index_path %></li>
    </ul>
  </section>

  <section class="ml-4">
    <h2>Scaffolding</h2>
    <ul class="ml-4">
      <li>
        <%= link_to "Scaffold Person", person_scaffold_index_path %>
      </li>
    </ul>
  </section>
  <section class="ml-4">
    <h2>Enum am Beispiel von Article</h2>
    <ul class="ml-4">
      <li>
        <%= link_to "Enum Beispiel", enum_example_path %> <%= render 'partials/locked' %>
      </li>
    </ul>
  </section>


  <section class="ml-4">
    <h2>Authentifizierung und Autorisierung</h2>
    <ul class="ml-4">
      <li>
        <%= link_to "Authenticate CanCanCan", authenticate_and_cancancan_path %>
      </li>
      <li>
        <%= link_to "Admin_Dashboard", admin_dashboard_path %>
      </li>
    </ul>
  </section>

</article>

