<p style="color: green"><%= notice %></p>

<div class="bg-white p-2 mb-2">
<%= render @user %>

</div>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
