<div id="<%= dom_id wolpertinger %>">
  <p>
    <strong>State:</strong>
    <%= wolpertinger.state %>
  </p>

  <p>
    <strong>Is walking:</strong>
    <%= wolpertinger.is_walking %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= wolpertinger.color %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= wolpertinger.age %>
  </p>

  <p>
    <strong>Mood:</strong>
    <%= wolpertinger.mood %>
  </p>

</div>
