<header class="p-2 bg-lime-300 flex justify-between items-center">
  <div>
    <%= link_to root_path do %>
      <%= heroicon 'home', class: 'inline-block' %>Home
    <% end %>
  </div>
  <div>
    <% if current_user %>
      User: <%= current_user.email_address %> |
      Rolle: <%= current_user.role %>
      <% else %>
    Du bist nicht angemeldet!
    <% end %>
  </div>

  <% if flash[:alert] %>
    <div class="bg-red-400 p-4 text-red-800 font-bold"><%= flash[:alert] %></div>
  <% end %>

  <div>

    <% if authenticated? %>
      <%= button_to "Log out", session_path, method: :delete %>
    <% else %>
      <%= link_to "Log in", new_session_path %>
    <% end %>
  </div>
</header>
